{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="text-center mt-5 titre">Me connecter</h1>

{#        <div class="boxForm">
            <label class="ligneverte" for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class=""
                   autocomplete="email" required autofocus>
        </div>

        <div>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password"
                   required>
        </div>#}

        <div class="boxForm">
            <div class="boxInput ligneverte">
                <div>
                     <label class="ligneverte" for="inputEmail">Email</label>
                </div>
                <div>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class=""
                   autocomplete="email" required autofocus>
                </div>
            </div>
            <div class="ligneverte">
                <div>
                    <label for="inputPassword">Mot de passe</label>
                </div>
                <div>
                    <input type="password" name="password" id="inputPassword" class=""
                   autocomplete="current-password"
                   required>
                </div>
            </div>
        </div>


        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Me connecter
        </button>
    </form>
    <a href="{{ path('app_main') }}">Accueil</a>
{% endblock %}
