{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <!--        Logo        -->
        <div class="text-center mt-3">
            <img src="{{ asset('assets/img/patte.webp') }}" width="150rem" alt="Logo Adopt a Dog">
        </div>
        <!--        ! Logo        -->

        <h1 class="text-center mt-5 titre">Me connecter</h1>

        <div class="matchRech champ">
            <div class="mx-auto my-2 intitule">
                <div class="my-2">
                    <label class="ml-2" for="inputEmail">Email</label>
                </div>
                <div class="my-2">
                    <label class="ml-2" for="inputPassword">Mot de passe</label>
                </div>
            </div>
            <div class="mx-auto my-2 intitule">
                <div class="my-2">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class=""
                           autocomplete="email" required autofocus>
                </div>
                <div class="my-2">
                    <input type="password" name="password" id="inputPassword" class=""
                           autocomplete="current-password"
                           required>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button class="recherche" type="submit">
                Me connecter
            </button>
        </div>

        <div class="text-center retour">
            <a class="recherche" href="{{ path('app_main') }}">Retour à l'accueil</a>
        </div>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    </form>
{% endblock %}
