{# TODO #}
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{{ path('app_main') }}">
        <img src="{{ asset('assets/img/palette_couleur.png') }}" width="30" height="30" class="d-inline-block align-top"
             alt="">
        Adopt a Dog
    </a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_utilisateur_new') }}">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_admin_index') }}">Voir les admins</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_utilisateur_index') }}">Voir les utilisateurs</a>            </li>
        </ul>
    </div>
</nav>

