{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <div class="text-center mt-5">
            <img src="{{ asset('assets/img/patte.webp') }}" width="250rem" alt="Logo Adopt a Dog">
        </div>
        <!--        Titre        -->
        <h1 class="text-center sizeh1">Adopt a Dog</h1>
        <!--        ! Titre        -->

        <!--        Bienvenu        -->
        <div class="text-center match">
            <h2 class="couleurh2">Bienvenu sur Adopt a Dog!</h2>
            <p>L'application de notre refuge où vous pouvez voir les chiens en adoption.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aspernatur ducimus est eum inventore
                pariatur quos sed suscipit totam unde! Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus assumenda itaque maiores minima nesciunt numquam obcaecati perferendis quam qui rem.
            </p>
            <p>Et peut-être, qui sait, leur permettre de retrouver un foyer...</p>

            <div class="text-center mt-5">
                {% if app.user %}
                    <a class="profil" href="{{ path('app_chien_index', {'id': app.user.id}) }}">Voir les chiens</a>
                {% else %}
                    <a class="profil" href="{{ path('app_chien_index') }}">Voir les chiens</a>
                {% endif %}
            </div>
        </div>
        <!--        ! Bienvenu        -->

        <!--        Trouver son Match        -->
        <div class="text-center match">
            <h2 class="couleurh2">Trouver son match ?!</h2>
            <p>
                Vous voulez faire une recherche pour voir avec quels chiens vous matchez ?
            </p>

            <div class="text-center mt-5">
                {% if not app.user %}
                    <a class="profil" href="{{ path('app_login') }}">Voir les correspondances</a>
                {% endif %}
                {% if app.user %}
                    <a class="profil" href="{{ path('app_correspondance_index', {'id': app.user.id}) }}">Voir les
                        correspondances</a>
                {% endif %}
            </div>
        </div>
        <!--        ! Trouver son Match        -->


        <!--        Modifier son profil        -->
        {% if app.user %}
            <div class="text-center mb-5">
                <a class="profil" href="{{ path('app_utilisateur_show', {'id': app.user.id}) }}">Modifier mon profil</a>
            </div>
        {% endif %}
        <!--        ! Modifier son profil        -->
    </main>

{% endblock %}
