{% extends 'base.html.twig' %}

{% block title %}Les Dogs{% endblock %}

{% block body %}
    <main>
        <h1 class="text-center">Les dogs</h1>

        <p class="text-center">Voici nos amis qui attendent un nouveau foyer.</p>

        <a href="{{ path('app_main') }}">Accueil</a>

        <div class="flex ligneverte">
            {% for chien in chiens %}
                <div class="fiche mt-5 mb-5 lignerouge">
                    <div class="text-center ligneverte">
                        <img src="{{ chien.photo }}" alt="photo du chien">
                    </div>

                    <div class="ligneverte">
                        <p><strong>Nom:</strong> {{ chien.nom }}</p>
                        <p><strong>Sexe:</strong> {{ chien.sexe }}</p>
                        <p><strong>Age:</strong> {{ chien.age }}</p>
                        <p><strong>Race:</strong> {{ chien.race }}</p>
                        <p><strong>Taille:</strong> {{ chien.taille }} cm</p>
                        <p><strong>Poids:</strong> {{ chien.poids }} kg</p>
                        <p><strong>Caractère:</strong> {{ chien.caractere }}</p>
                        <p><strong>Description:</strong> {{ chien.description }}</p>
                    </div>
                    <div class="text-center">
                        <a href="{{ path('app_chien_show', {'id': chien.id}) }}">show</a>
                        {% if app.user %}
                            <a href="{{ path('app_chien_edit', {'id': chien.id}) }}">edit</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
