{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
    <h1 class="text-center">Votre profil</h1>
    <h2 class="text-center">Bonjour {{ utilisateur.prenom }}</h2>

    <div class="flex fiche lignerouge">
        <div class="ligneverte">
            <img src="{{ utilisateur.photo }}" alt="photo de l'utilisateur">
        </div>

        <div class="ligneverte">
            <p><strong>Nom:</strong> {{ utilisateur.nom }}</p>
            <p><strong>Prenom:</strong> {{ utilisateur.prenom }}</p>
            <p><strong>Age:</strong> {{ utilisateur.age }} cm</p>
            <p><strong>Téléphone:</strong> {{ utilisateur.telephone }} kg</p>
            <p><strong>Email:</strong> {{ utilisateur.email }}</p>
        </div>
    </div>

    <div class="text-center lignerouge">
        <a href="{{ path('app_utilisateur_index') }}">back to list</a>

        <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">Modifier votre profil</a>

        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
{% endblock %}
