{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
    <!--        Titre        -->
    <h1 class="text-center mt-5 titre">Votre profil</h1>
    <!--        ! Titre        -->

    <!--        Intro        -->
    <h2 class="text-center mt-5">Bonjour {{ utilisateur.prenom }}</h2>
    <!--        ! Intro        -->

    <!--        Fiche utilisateur        -->
    <div class="fiche ligneverte">
        <div class="text-center pt-4 pb-4">
            <img src="{{ utilisateur.photo }}" alt="photo de l'utilisateur">
        </div>

        <div>
            <div class="p-2"><strong>Nom:</strong> {{ utilisateur.nom }}</div>
            <div class="p-2"><strong>Prenom:</strong> {{ utilisateur.prenom }}</div>
            <div class="p-2"><strong>Age:</strong> {{ utilisateur.age }} cm</div>
            <div class="p-2"><strong>Téléphone:</strong> {{ utilisateur.telephone }} kg</div>
            <div class="p-2"><strong>Email:</strong> {{ utilisateur.email }}</div>
        </div>

        <div class="text-center mt-3">
            <a class="profil" href="{{ path('app_main') }}">Revenir à l'accueil</a>

            <a class="profil" href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">Modifier votre
                profil</a>

        </div>
    </div>
    <!--        ! Fiche utilisateur        -->

{% endblock %}
