{% extends 'base.html.twig' %}

{% block title %}Chien index{% endblock %}

{% block body %}
    <h1>Chien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Race</th>
                <th>Couleur</th>
                <th>Photo</th>
                <th>Taille</th>
                <th>Poids</th>
                <th>Caractere</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chien in chiens %}
            <tr>
                <td>{{ chien.id }}</td>
                <td>{{ chien.nom }}</td>
                <td>{{ chien.age }}</td>
                <td>{{ chien.race }}</td>
                <td>{{ chien.couleur }}</td>
                <td>{{ chien.photo }}</td>
                <td>{{ chien.taille }}</td>
                <td>{{ chien.poids }}</td>
                <td>{{ chien.caractere }}</td>
                <td>{{ chien.description }}</td>
                <td>
                    <a href="{{ path('app_chien_show', {'id': chien.id}) }}">show</a>
                    <a href="{{ path('app_chien_edit', {'id': chien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chien_new', {'id': app.user.id}) }}">Create new</a>
    <a href="{{ path('app_main') }}">Accueil</a>
{% endblock %}
