{% extends 'base.html.twig' %}

{% block title %}Les Dogs{% endblock %}

{% block body %}
    <main>
        <!--        Titre        -->
        <h1 class="text-center titre">Les dogs</h1>
        <!--        ! Titre        -->

        <!--        Intro        -->
        <p class="text-center intro">Voici nos amis qui attendent un nouveau foyer.</p>
        <!--        ! Intro        -->

        <!--        Btn retour accueil        -->
        <div>
            {% if app.user %}
                <a class="profil" href="{{ path('app_chien_new', {'id': app.user.id}) }}">Créer un profil de chien</a>
            {% endif %}
            <a class="profil" href="{{ path('app_main') }}">Accueil</a>
        </div>
        <!--        ! Btn retour accueil        -->


        <!--        Liste des chiens        -->
        <div class="flex ligneverte">

            {% for chien in chiens %}
                <!--        Fiche du chien        -->
                <div class="fiche">
                    <!--        Photo du chien        -->
                    <div class="text-center pt-4 pb-4">
                        <img src="{{ chien.photo }}" alt="photo du chien" width="500">
                    </div>
                    <!--        ! Photo du chien        -->

                    <!--        Caractèristique du chien        -->
                    <div>
                        <div class="p-2"><strong>Nom:</strong> {{ chien.nom }}</div>
                        <div class="p-2"><strong>Sexe:</strong> {{ chien.sexe }}</div>
                        <div class="p-2"><strong>Age:</strong> {{ chien.age }}</div>
                        <div class="p-2"><strong>Race:</strong> {{ chien.race }}</div>
                        <div class="p-2"><strong>Taille:</strong> {{ chien.taille }} cm</div>
                        <div class="p-2"><strong>Poids:</strong> {{ chien.poids }} kg</div>
                        <div class="p-2"><strong>Caractère:</strong> {{ chien.caractere }}</div>
                        <div class="p-2"><strong>Description:</strong> {{ chien.description }}</div>
                    </div>
                    <!--        ! Caractèristique du chien        -->

                    <!--        Btn Voir et Editer        -->
                    <div class="text-center mt-3">
                        <a class="profil" href="{{ path('app_chien_show', {'id': chien.id}) }}">Voir</a>
                        {% if app.user %}
                            <a class="profil" href="{{ path('app_chien_edit', {'id': chien.id}) }}">Éditer</a>
                        {% endif %}
                    </div>
                    <!--        Btn Voir et Editer        -->
                </div>
                <!--        ! Fiche du chien        -->
            {% endfor %}
        </div>
        <!--        ! Liste des chiens        -->
    </main>
{% endblock %}
