{% extends 'base.html.twig' %}

{% block title %}Mon Sweet Profil{% endblock %}

{% block body %}
    <main>
        <!--        Logo        -->
        <div class="text-center mt-3">
            <img src="{{ asset('assets/img/patte.webp') }}" width="150rem" alt="Logo Adopt a Dog">
        </div>
        <!--        ! Logo        -->

        <!--        Nom du chien        -->
        <h1 class="text-center mt-5 titre">{{ chien.nom }}</h1>
        <!--        ! Nom du chien        -->

        <!--        Fiche du chien        -->
        <div class="fiche">
            <div class="text-center pt-4 pb-4">
                <img src="{{ chien.photo }}" alt="photo du chien" width="500">
            </div>

            <div>
                <div class="p-2"><strong>Nom:</strong> {{ chien.nom }}</div>
                <div class="p-2"><strong>Sexe:</strong> {{ chien.sexe }}</div>
                <div class="p-2"><strong>Age:</strong> {{ chien.age }}</div>
                <div class="p-2"><strong>Race:</strong> {{ chien.race }}</div>
                <div class="p-2"><strong>Couleur dominante:</strong> {{ chien.couleur }}</div>
                <div class="p-2"><strong>Taille:</strong> {{ chien.taille }} cm</div>
                <div class="p-2"><strong>Poids:</strong> {{ chien.poids }} kg</div>
                <div class="p-2"><strong>Caractère:</strong> {{ chien.caractere }}</div>
                <div class="p-2"><strong>Description:</strong> {{ chien.description }}</div>
            </div>

            <div class="text-center mt-3">
                {% if app.user %}
                    <a class="profil" href="{{ path('app_chien_index', {'id':app.user.id}) }}">Revenir à la liste</a>
                    <a class="profil" href="{{ path('app_commentaire_new', {'id': chien.id}) }}">Ajouter un commentaire</a>
                {% else %}
                    <a class="profil" href="{{ path('app_chien_index') }}">Revenir à la liste</a>
                    <a class="profil" href="{{ path('app_login') }}">Ajouter un commentaire</a>
                {% endif %}
            </div>
        </div>
        <!--        ! Fiche du chien        -->

        <!--        Commentaire sur le chien        -->
        <div>
            {% for commentaire in commentaires %}
                <div class="commentaire mt-2 mb-2">
                    <div class="p-2">Commentaire de <strong>
                            {{ commentaire.fkidutilisateur ? commentaire.fkidutilisateur.nom : commentaire.fkidadmin.nom }}
                        </strong>le {{ commentaire.dateCreation|date('d/m/Y H:i:s') }}</div>
                    <div class="p-2">{{ commentaire.texte }}</div>
                </div>
            {% endfor %}
        </div>
        <!--        ! Commentaire sur le chien        -->
    </main>
{% endblock %}
