{% extends 'base.html.twig' %}

{% block title %}Mon Sweet Profil{% endblock %}

{% block body %}
    <h1 class="text-center">{{ chien.nom }}</h1>

    <div class="flex fiche lignerouge">
        <div class="ligneverte">
            <img src="{{ chien.photo }}" alt="photo du chien">
        </div>
        <div class="ligneverte">
            <p><strong>Nom:</strong> {{ chien.nom }}</p>
            <p><strong>Sexe:</strong> {{ chien.sexe }}</p>
            <p><strong>Age:</strong> {{ chien.age }}</p>
            <p><strong>Race:</strong> {{ chien.race }}</p>
            <p><strong>Taille:</strong> {{ chien.taille }} cm</p>
            <p><strong>Poids:</strong> {{ chien.poids }} kg</p>
            <p><strong>Caractère:</strong> {{ chien.caractere }}</p>
            <p><strong>Description:</strong> {{ chien.description }}</p>
        </div>
    </div>

    <div class="text-center lignerouge">
        {% if app.user %}
            <a href="{{ path('app_chien_index', {'id':app.user.id}) }}">Revenir à la liste</a>
            <a href="{{ path('app_commentaire_new', {'id': chien.id}) }}">ajouter un commentaire</a>
        {% else %}
            <a href="{{ path('app_chien_index') }}">Revenir à la liste</a>
            <a href="{{ path('app_login') }}">ajouter un commentaire</a>
        {% endif %}
    </div>

    <div class="lignerouge">
        {% for commentaire in commentaires %}
            <div class="commentaire mt-2 mb-2 ligneverte">
                <table>
                    <tr>Commentaire</tr>
                    <tr>
                        <td>{{ commentaire.texte }}</td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}
