    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="pt-3 pb-3">{{ form_row(form.couleur, {
            'attr': {'class': 'form-control-sm'},
            'label_attr': {'class': 'critere'},
        }) }}</div>
    <div class="pt-3 pb-3">{{ form_row(form.race, {
            'attr': {'class': 'form-control-sm'},
            'label_attr': {'class': 'critere'}
        }) }}</div>
    <div class="pt-3 pb-3">{{ form_row(form.caractere, {
            'attr': {'class': 'form-control-sm'},
            'label_attr': {'class': 'critere'}
        }) }}</div>
    <div class="text-center pt-3 pb-3">
        <button class="recherche">{{ button_label|default('Recherche !') }}</button>
    </div>
    {{ form_end(form) }}